/*
SITE NAVBAR CLASSES
*/

.site-navbar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    padding: 0px 8ch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $background_color;
    box-shadow: 0px 3px 10px $shadow_color;

    a {
        text-decoration: none;
    }
}

.site-navbar__letter-icon {
    font-family: $logo_font;
    font-size: 1.5em;
    color: $importance_color;
}

.site-navbar__nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;

    .site-navbar__nav-menu__feature {
        position: relative;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 3ch;
        font-family: $highlight_font;

        .site-navbar__nav-menu__link {
            color: $subtitle_text_color;
        }

        .site-navbar__nav-menu__chevron {
            font-size: 0.7em;
            margin: 0 0 0 5px;
        }

        &:hover .site-navbar__nav-submenu {
            position: absolute;
            min-width: 100px;
            top: calc(50% + 1.3em);
            left: 0;
            display: flex;
            flex-direction: column;
            list-style-type: none;
            padding: 0.5em 1ch;
            border-radius: 5px;
            background-color: $background_color;
            box-shadow: -2px 2px 10px $shadow_color;
        }

        &:hover .site-navbar__nav-menu__chevron{
            animation: rotateChevron 0.7s linear forwards;
        }

        &:hover::after {
            content: "";
            position: absolute;
            top: calc(50% + 0.7em);
            left: 0px;
            animation: renderDecor 0.7s forwards;
            height: 4px;
            background-color: $subtitle_text_color;
        }
    }
}

.site-navbar__nav-submenu {
    display: none;
    list-style-type: none;
}

.site-navbar__nav-submenu__feature {
    padding: 0.5em;
    width: 100%;
    border-bottom: solid 2px $shadow_color;
}

.site-navbar__nav-submenu__feature:last-child {
    padding: 0.5em;
    width: 100%;
    border: none;
}

.site-navbar__contact-button {
    padding: 0.7em 2ch;
    border: solid 2px $highlight_color;
    background-color: $background_color;
    color: $highlight_color;
    border-radius: 35px;
    font-family: $highlight_font;

    &:hover {
        background-color: $highlight_color;
        color: $background_color;
    }
}

@keyframes renderDecor {
    from {width: 0;}
    to {width: 100%;}
}

@keyframes rotateChevron {
    100% {transform: rotate(90deg)};
}