/*
Fonts used for generic text
*/
@font-face {
    font-family: "Work Sans Black";
    src: url("../fonts/WorkSans/WorkSans-Black.ttf");
}
@font-face {
    font-family: "Work Sans Black Italic";
    src: url("../fonts/WorkSans/WorkSans-BlackItalic.ttf");
}
@font-face {
    font-family: "Work Sans Bold";
    src: url("../fonts/WorkSans/WorkSans-Bold.ttf");
}
@font-face {
    font-family: "Work Sans Bold Italic";
    src: url("../fonts/WorkSans/WorkSans-BoldItalic.ttf");
}
@font-face {
    font-family: "Work Sans Extra Bold";
    src: url("../fonts/WorkSans/WorkSans-ExtraBold.ttf");
}
@font-face {
    font-family: "Work Sans Extra Bold Italic";
    src: url("../fonts/WorkSans/WorkSans-ExtraBoldItalic.ttf");
}
@font-face {
    font-family: "Work Sans Extra Light";
    src: url("../fonts/WorkSans/WorkSans-ExtraLight.ttf");
}
@font-face {
    font-family: "Work Sans Extra Light Italic";
    src: url("../fonts/WorkSans/WorkSans-ExtraLightItalic.ttf");
}
@font-face {
    font-family: "Work Sans Italic";
    src: url("../fonts/WorkSans/WorkSans-Italic.ttf");
}
@font-face {
    font-family: "Work Sans Light";
    src: url("../fonts/WorkSans/WorkSans-Light.ttf");
}
@font-face {
    font-family: "Work Sans Light Italic";
    src: url("../fonts/WorkSans/WorkSans-LightItalic.ttf");
}
@font-face {
    font-family: "Work Sans Medium";
    src: url("../fonts/WorkSans/WorkSans-Medium.ttf");
}
@font-face {
    font-family: "Work Sans Medium Italic";
    src: url("../fonts/WorkSans/WorkSans-MediumItalic.ttf");
}
@font-face {
    font-family: "Work Sans Regular";
    src: url("../fonts/WorkSans/WorkSans-Regular.ttf");
}
@font-face {
    font-family: "Work Sans Semibold";
    src: url("../fonts/WorkSans/WorkSans-SemiBold.ttf");
}
@font-face {
    font-family: "Work Sans Semibold Italic";
    src: url("../fonts/WorkSans/WorkSans-SemiBoldItalic.ttf");
}
@font-face {
    font-family: "Work Sans Thin";
    src: url("../fonts/WorkSans/WorkSans-Thin.ttf");
}
@font-face {
    font-family: "Work Sans Thin Italic";
    src: url("../fonts/WorkSans/WorkSans-ThinItalic.ttf");
}

/*
Fonts used for subtitles or
highlighted text
*/
@font-face {
    font-family: "Rosario Bold";
    src: url("../fonts/Rosario/Rosario-Bold.ttf");
}
@font-face {
    font-family: "Rosario Bold Italic";
    src: url("../fonts/Rosario/Rosario-BoldItalic.ttf");
}
@font-face {
    font-family: "Rosario Italic";
    src: url("../fonts/Rosario/Rosario-Italic.ttf");
}
@font-face {
    font-family: "Rosario Light";
    src: url("../fonts/Rosario/Rosario-Light.ttf");
}
@font-face {
    font-family: "Rosario Light Italic";
    src: url("../fonts/Rosario/Rosario-LightItalic.ttf");
}
@font-face {
    font-family: "Rosario Medium";
    src: url("../fonts/Rosario/Rosario-Medium.ttf");
}
@font-face {
    font-family: "Rosario Medium Italic";
    src: url("../fonts/Rosario/Rosario-MediumItalic.ttf");
}
@font-face {
    font-family: "Rosario Regular";
    src: url("../fonts/Rosario/Rosario-Regular.ttf");
}
@font-face {
    font-family: "Rosario Semibold";
    src: url("../fonts/Rosario/Rosario-SemiBold.ttf");
}
@font-face {
    font-family: "Rosario Semibold Italic";
    src: url("../fonts/Rosario/Rosario-SemiBoldItalic.ttf");
}

/*
Fonts used for titles and
important text
*/
@font-face {
    font-family: "Montserrat Black";
    src: url("../fonts/Montserrat/Montserrat-Black.ttf");
}
@font-face {
    font-family: "Montserrat Black Italic";
    src: url("../fonts/Montserrat/Montserrat-BlackItalic.ttf");
}
@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "Montserrat Bold Italic";
    src: url("../fonts/Montserrat/Montserrat-BoldItalic.ttf");
}
@font-face {
    font-family: "Montserrat Extra Bold";
    src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf");
}
@font-face {
    font-family: "Montserrat Extra Bold Italic";
    src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf");
}
@font-face {
    font-family: "Montserrat Extra Light";
    src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf");
}
@font-face {
    font-family: "Montserrat Extra Light Italic";
    src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf");
}
@font-face {
    font-family: "Montserrat Italic";
    src: url("../fonts/Montserrat/Montserrat-Italic.ttf");
}
@font-face {
    font-family: "Montserrat Light";
    src: url("../fonts/Montserrat/Montserrat-Light.ttf");
}
@font-face {
    font-family: "Montserrat Light Italic";
    src: url("../fonts/Montserrat/Montserrat-LightItalic.ttf");
}
@font-face {
    font-family: "Montserrat Medium";
    src: url("../fonts/Montserrat/Montserrat-MediumItalic.ttf");
}
@font-face {
    font-family: "Montserrat Regular";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
    font-family: "Montserrat SemiBold Italic";
    src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf");
}
@font-face {
    font-family: "Montserrat Thin";
    src: url("../fonts/Montserrat/Montserrat-Thin.ttf");
}
@font-face {
    font-family: "Montserrat Thin";
    src: url("../fonts/Montserrat/Montserrat-ThinItalic.ttf");
}