/*
HOME HERO SECTION CLASSES
*/

$backgroundBlur: 5px;
$navbarHeight: 70px;
$minHeroHeight: 500px;
$heroHeight: 100vh;
$heroWidth: 100vw;

.home-hero {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $heroWidth;
  min-height: $minHeroHeight;
  height: $heroHeight;
  background-image: url("../img/Hero-bg-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $background_color;
  overflow: hidden;

  @include media-md {
    align-items: flex-start;
  }

  @include media-lg {
    font-size: 1em;
    align-items: flex-start;
    background-position: 0% 0%;
    text-align: left;
    background-image: url("../img/Hero-bg-desktop.png");
    min-height: 820px;
  }
}

.home-hero__content-wrapper {
  margin-top: $navbarHeight;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2em 4ch;
  max-width: 490px;

  @include media-md {
    align-items: flex-start;
    text-align: left;
    max-width: 700px;
    padding: 2em 4ch;
    font-size: 1.1em;
    width: 80%;
  }

  @include media-lg {
    max-width: 100%;
    padding: 2em 6ch;
    width: 65%;
  }

  @include media-xl {
    min-width: 760px;
    padding: 2em 8ch;
    width: fit-content;
    width: 50%;
  }
}

.home-hero__title {
  color: $highlight_color;
  font-size: 3em;
  padding: 0;
  margin: 0;
}

.home-hero__subtitle {
  font-family: $subtitle_font;
  margin: 3em 0;
}