<footer class="site-footer">
    <div class="site-footer__copyright">
        <img src="/assets/img/favicon.svg" class="site-footer__icon"/>
        <span class="site-footer__copyright-info">
            &copy 2021 QColombia. Derechos reservados
        </span>
    </div>
    <div class="site-footer__social-media-container">
        <a href="#" class="site-fotter__social-media-icon">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="site-fotter__social-media-icon">
            <i class="fab fa-facebook-square"></i>
        </a>
        <a href="#" class="site-fotter__social-media-icon">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="#" class="site-fotter__social-media-icon">
            <i class="fab fa-twitch"></i>
        </a>
    </div>
</footer>