<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>{{ site.title }} | {{ page.title }}</title>

    <link rel="shortcut icon" href="{{site.url}}/assets/img/favicon.svg"/>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link href="{{ "/assets/css/syntax.css" | relative_url }}" rel="stylesheet" >

    <script src="https://kit.fontawesome.com/c4583cf6be.js" crossorigin="anonymous"></script>

    {% include shared/mathjax-support.html %}
</head>