<section class="home-aspects">
  <div class="home-aspects__link-container">
    <h1 class="home-aspects__title">Descubre nuestro trabajo</h1>
    <a href="#" class="home-aspects__link">
      <span class="home-aspects__icon-wrapper">
        <i class="fas fa-laptop-code fa-5x"></i>
      </span>
      <div class="home-aspects__text-wrapper">
        <div class="left-text">Educación y</div>
        <div class="right-text">Divulgación</div>
      </div>
    </a>
    <a href="#" class="home-aspects__link">
      <span class="home-aspects__icon-wrapper">
        <i class="fas fa-brain fa-5x"></i>
      </span>
      <div class="home-aspects__text-wrapper">
        <div class="left-text">Investigación</div>
        <div class="right-text">y Proyectos</div>
      </div>
    </a>
    <a href="#" class="home-aspects__link">
      <span class="home-aspects__icon-wrapper">
        <i class="fas fa-calendar-alt fa-5x"></i>
      </span>
      <div class="home-aspects__text-wrapper">
        <div class="left-text">Seminarios,</div>
        <div class="right-text">y Eventos</div>
      </div>
    </a>
  </div>
</section>
