<section class="home-aspects">
    <h1 class="home-aspects__title">Nuestras Áreas de Enfoque</h1>
    <div class="home-aspects__aspect-window">
        <div class="home-aspects__aspect-container">
            <div class="home-aspects__aspect-item">
                <span class="aspect-item__icon">
                    <i class="fas fa-laptop-code fa-5x"></i>
                </span>
                <h3 class="aspect-item__title">Educación y Divulgación</h3>
                <p class="aspect-item__description">
                    Realizamos cursos de formación en física cuántica y programación para hardware cuántico.
                </p>
                <a class="aspect-item__action" href="/cursos">
                    Ver cursos
                </a>
            </div>
            <div class="home-aspects__aspect-item">
                <span class="aspect-item__icon">
                    <i class="fas fa-brain fa-5x"></i>
                </span>
                <h3 class="aspect-item__title">Investigación y Proyectos</h3>
                <p class="aspect-item__description">
                    Nos apasiona expandir la frontera del conocimiento en la computación y física cuánticas.
                </p>
                <a class="aspect-item__action" href="https://github.com">
                    Ver proyectos
                </a>
            </div>
            <div class="home-aspects__aspect-item">
                <span class="aspect-item__icon">
                    <i class="fas fa-calendar-alt fa-5x"></i>
                </span>
                <h3 class="aspect-item__title">Seminarios, Charlas y Eventos</h3>
                <p class="aspect-item__description">
                    Preparamos eventos para la discusión de los últimos avances en tecnología e información cuánticas.
                </p>
                <a class="aspect-item__action" href="/eventos">
                    Ver eventos
                </a>
            </div>
        </div>
        <div class="home-aspects__button-container">
            <button 
                data-item-id="0" 
                class="aspect__nav-button"
                onclick="moveAspectsCarousel(this)"
            ></button>
            <button 
                data-item-id="1" 
                class="aspect__nav-button"
                onclick="moveAspectsCarousel(this)"
            ></button>
            <button 
                data-item-id="2" 
                class="aspect__nav-button"
                onclick="moveAspectsCarousel(this)"
            ></button>
        </div>
    </div>
</section>