<section class="home-follow">
    <div class="home-follow__text-content">
        <h1 class="home-follow__content-title">Acompáñanos en la segunda revolución cuántica</h1>
        <p class="home-follow__content">
            Sigue nuestro trabajo en GitHub, y contribuye a nuestros proyectos de investigación y pedagogía de código abierto.
        </p>
        <a class="home-follow__github-link" href="https://github.com/">Ver GitHub</a>
    </div>
    <figure class="home-follow__image">
        <img class="follow-image" src="/assets/img/follow-image.svg">
    </figure>
</section>