<section class="home-hero">
    <ul class="home-hero__carousel">
        <li class="home-hero__carousel__slide current-slide" id="bogota-hero">
            <!--
            <h1 class="home-hero__main-content__title">
                Primer Slide
            </h1>
            <p class="home-hero__main-content__description">
                Ea incididunt consectetur laborum voluptate minim quis voluptate elit mollit eu duis. Cupidatat velit aliqua elit voluptate Lorem nulla fugiat et enim adipisicing. Pariatur ut in cupidatat id ut et velit cupidatat veniam.
            </p>
            -->
        </li>
        <li class="home-hero__carousel__slide" id="physics-hero">
            <!--
            <h1 class="home-hero__main-content__title">
                Primer Slide
            </h1>
            <p class="home-hero__main-content__description">
                Ea incididunt consectetur laborum voluptate minim quis voluptate elit mollit eu duis. Cupidatat velit aliqua elit voluptate Lorem nulla fugiat et enim adipisicing. Pariatur ut in cupidatat id ut et velit cupidatat veniam.
            </p>
            -->
        </li>
        <li class="home-hero__carousel__slide" id="code-hero">
            <!--
            <h1 class="home-hero__main-content__title">
                Primer Slide
            </h1>
            <p class="home-hero__main-content__description">
                Ea incididunt consectetur laborum voluptate minim quis voluptate elit mollit eu duis. Cupidatat velit aliqua elit voluptate Lorem nulla fugiat et enim adipisicing. Pariatur ut in cupidatat id ut et velit cupidatat veniam.
            </p>
            -->
        </li>
    </ul>
    <div class="home-hero__carousel__button-container">
        <button 
            class="home-hero__carousel__button" 
            onclick="moveCarouselToLeft()"
        >
            <i class="fas fa-chevron-left"></i>
        </button>
        <button class="home-hero__carousel__nav-button active"></button>
        <button class="home-hero__carousel__nav-button"></button>
        <button class="home-hero__carousel__nav-button"></button>
        <button 
            class="home-hero__carousel__button"
            onclick="moveCarouselToRight()"
        >
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
</section>