<section class="home-hero">
  <div class="home-hero__content-wrapper">
    <h1 class="home-hero__title">
      Impulsamos la segunda revolución cuántica en Colombia
    </h1>
    <h2 class="home-hero__subtitle">
      Prepárate con nosotros para desarrollar las tecnologías e ideas del
      futuro
    </h2>
    <a href="#" class="ctas__emphasis-button">Empieza a aprender</a>
  </div>
  <!--
  <h1 class="home-hero__title">Impulsamos la segunda revolución cuántica en Colombia</h1>
  <p class="home-hero__subtitle">
    Prepárate con nosotros para impulsar el desarrollo de las tecnologías del
    futuro
  </p>
  <a href="#" class="home-hero__cta">Empieza a aprender</a>
  -->
  <!--
    <ul class="home-hero__carousel">
        <li class="home-hero__carousel__slide current-slide" id="bogota-hero">
        </li>
        <li class="home-hero__carousel__slide" id="physics-hero">
        </li>
        <li class="home-hero__carousel__slide" id="code-hero">
        </li>
    </ul>
    <div class="home-hero__carousel__button-container">
        <button 
            class="home-hero__carousel__button" 
            onclick="moveCarouselToLeft()"
        >
            <i class="fas fa-chevron-left"></i>
        </button>
        <button class="home-hero__carousel__nav-button active"></button>
        <button class="home-hero__carousel__nav-button"></button>
        <button class="home-hero__carousel__nav-button"></button>
        <button 
            class="home-hero__carousel__button"
            onclick="moveCarouselToRight()"
        >
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
    -->
</section>
