/*
SITE'S COLOR PALLET
*/

$primary_color: #F4D35E;
$light_primary_color: #F6D8AE;
$tertiary_color: #DA4167;
$background_color: #ffffff;

/*Text colors*/
$primary_text_color: #2E4057;
$secondary_text_color: #928C83;
$title_text_color: #022b58;
$subtitle_text_color: #1B3F67;
$divider_color: $light_primary_color;

/*functional colors*/
$highlight_color: #083D77;
$importance_color: #F4D35E; 
$emphasis_color: #DA4167;

/*Shadow colors*/
$shadow_color: #dfdfdf;