/*
FONT VARIABLES FOR THE DOCUMENT
*/

/*Letter logo font*/
$logo_font: "Rosario Regular", "Work Sans Black", sans-serif;

/*Content fonts*/
$generic_font: "Work Sans Light", "Work Sans Light", Helvetica;
$highlight_font: "Work Sans Medium", "Work Sans Medium", Helvetica;
$important_font: "Work Sans Bold", "Work Sans Bold", Helvetica;

/*Title fonts*/
$main_title_font: "Montserrat Bold", "Rosario Bold", arial;
$subtitle_font: "Montserrat Semibold", "Rosario Medium", arial;
$lower_title_font: "Montserrat Semibold", "Rosario Medium", arial;
